<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NuGet.Commands" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Common" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Configuration" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Credentials" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Protocol" version="4.9.2" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.9.2" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
</packages>