###############################################################################
# Do not normalize any line endings.
###############################################################################
* -text
*.cs diff=csharp
