###############################################################################
# Do not normalize any line endings.
###############################################################################
* -text