<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GVFS.FunctionalTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <GVFS.FunctionalTests.Properties.Settings>
            <setting name="PathToGVFS" serializeAs="String">
                <value>GVFS.exe</value>
            </setting>
            <setting name="EnlistmentRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\enlistment</value>
            </setting>
            <setting name="PathToBash" serializeAs="String">
                <value>C:\Program Files\Git\bin\bash.exe</value>
            </setting>
            <setting name="Commitish" serializeAs="String">
                <value>FunctionalTests/20180214</value>
            </setting>
            <setting name="ControlGitRepoRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\ControlRepo</value>
            </setting>
            <setting name="FastFetchRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\FastFetch\Test</value>
            </setting>
            <setting name="FastFetchControl" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\FastFetch\Control</value>
            </setting>
            <setting name="PathToGit" serializeAs="String">
                <value>C:\Program Files\Git\cmd\git.exe</value>
            </setting>
            <setting name="PathToGVFSService" serializeAs="String">
                <value>GVFS.Service.exe</value>
            </setting>
            <setting name="RepoToClone" serializeAs="String">
                <value>URL of a VSTS git repo that contains the Commitish</value>
            </setting>
        </GVFS.FunctionalTests.Properties.Settings>
      </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
