<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GVFS.FunctionalTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GVFS.FunctionalTests.Properties.Settings>
            <setting name="PathToGVFS" serializeAs="String">
                <value>GVFS.exe</value>
            </setting>
            <setting name="EnlistmentRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\enlistment</value>
            </setting>
            <setting name="RepoToClone" serializeAs="String">
                <value>URL of a VSTS git repo that contains the Commitish below</value>
            </setting>
            <setting name="TestRepeatCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PathToVSDevBat" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\VsDevCmd.bat</value>
            </setting>
            <setting name="PathToNuget" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToBash" serializeAs="String">
                <value>C:\Program Files\Git\bin\bash.exe</value>
            </setting>
            <setting name="Commitish" serializeAs="String">
                <value>FunctionalTests/20170310</value>
            </setting>
            <setting name="ControlGitRepoRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\ControlRepo</value>
            </setting>
            <setting name="FastFetchRoot" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\FastFetch\Test</value>
            </setting>
            <setting name="FastFetchControl" serializeAs="String">
                <value>C:\Repos\GVFSFunctionalTests\FastFetch\Control</value>
            </setting>
            <setting name="PathToGit" serializeAs="String">
                <value>C:\Program Files\Git\cmd\git.exe</value>
            </setting>
        </GVFS.FunctionalTests.Properties.Settings>
    </applicationSettings>
</configuration>