<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
    <dict>
        <!--
        Although GVFS.Service gets launched in the GUI context of actively logged-in user, it
        does not seem to inherit any user-specific environment variables (like user customized
        $PATH specified in shell ~/.profile). VFSForGit needs /usr/local/bin to be in its 
        search PATH environment, so specifying it here, along with rest of the default paths 
        that are set by launchd.
        -->
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>Label</key>
    <string>org.vfsforgit.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/vfsforgit/GVFS.Service</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/usr/local/vfsforgit</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>Disabled</key>
    <false/>
    <key>OnDemand</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/> 
</dict>
</plist>
